<div>
  <h2>Login Page</h2>
</div>

<form method="POST" action="/user/login">
<div class="form-floating mb-3">
  <input type="email" required name="email" class="form-control" placeholder="name@example.com">
  <label>Email address</label>
</div> <br>
<div class="form-floating">
  <input type="password" name="password" required class="form-control" placeholder="Password">
  <label>Password</label>  
</div> <br>
<button type="submit" class="btn btn-primary btn-lg">Войти</button>
</form>
