<div>
  <h1>Login Page</h1>
</div>

<div class="form">
<form id="formLogin" method="POST" action="/user/login">
  <input placeholder="Email address" type="email" required name="email" class="input form-control mx-auto mt-5" aria-label="email">
<br>
  <input placeholder="Password" type="password" name="password" required class="input form-control mx-auto" aria-label="password">
<br>
<button type="submit" class="btn btn-primary btn-lg">Login</button>
</form>
<br>
OR <a href="/user/register">Registered</a>
</div>
