<div>
  <h2>Register Page</h2>
</div>


<form method="POST" action="/user/register">
<div class="form-floating mb-3">
  <input type="text" name="name" required class="form-control" placeholder="Your name">
  <label for="floatingInput">Name</label>
</div> <br>
<div class="form-floating mb-3">
  <input type="email" required name="email" class="form-control" placeholder="name@example.com">
  <label>Email address</label>
</div> <br>
<div class="form-floating">
  <input type="password" name="password" required class="form-control" placeholder="Password">
  <label>Password</label>
</div> <br>
<button type="submit" class="btn btn-primary btn-lg">Зарегистрироваться</button>
</form>
