<div>
  <h1>Register Page</h1>
</div>

<div class="form">
<form id="formRegister" method="POST" action="/user/register">
  <input type="text" name="name" required class="input form-control mx-auto mt-5" placeholder="Your name" aria-label="name">
<br>
  <input type="email" required name="email" class="input form-control mx-auto" placeholder="Email address" aria-label="email">
<br>
  <input type="password" name="password" required class="input form-control mx-auto" placeholder="Password" aria-label="password">
<br>
<button type="submit" class="btn btn-primary btn-lg">Registered</button>
</form>
</div>
