body {
  text-align: center;
}

.form {
  height: 340px;
  margin-right: auto;
	margin-left: auto;
}

#formSearch, #formLogin, #formRegister {
  max-width: 540px;
  height: 340px;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 30px;
}

#formLogin {
  height: 270px;
}

#formRegister {
  height: 330px;
}

.input {
  width: 75%;
}

.btn-success {
  margin-bottom: 10px;
}

.my-2 {
  justify-content: space-evenly;
  margin-top: 25px;
}

.text-center {
  width: 45%;
  margin: 15px;
}

.btn-lg {
  width: 200px;
}

#video-tutorial {
  margin-top: 35px;
  margin-bottom: 35px;
}

H1, H2 { 
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  #formSearch, #formLogin, #formRegister, iframe {
      width: 90%;
  }
}

@media screen and (max-width: 800px) {
  iframe {
      width: 90%;
  }
}
